<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <div class="box">
            <h2>Home Page </h2>
            <div class="headerbox">
                <button onclick="get()">GET USERS</button>
                <input type="number" placeholder="Enter id" id="input">
                <button onclick="getOne()">GET ONE USER</button>
            </div>
            <div id="output" style="display: none;">
            </div>
        </div>
    </div>
</body>
<script>

async function get() {
      const output = document.getElementById('output');
      output.style.display = "block";

      try {
        const res = await fetch('http://localhost:5000/users');
        const data = await res.json();

        output.innerHTML = data
          .map(user => `<p><strong>${user.id}.</strong> ${user.name}, Age: ${user.age}</p>`)
          .join('');
      } catch (err) {
        output.innerHTML = `<p style="color:red;">Error: ${err.message}</p>`;
      }
    }

    async function getOne() {
      const id = document.getElementById('input').value.trim();
      const output = document.getElementById('output');
      output.style.display = "block";

      if (!id) {
        alert('ID required!');
        return;
      }

      try {
        const response = await fetch(`http://localhost:5000/users/${id}`);
        if (!response.ok) {
          output.innerHTML = `<p style="color:red;">User not found</p>`;
          return;
        }

        const user = await response.json();
        output.innerHTML = `
          <p><strong>ID:</strong> ${user.id}</p>
          <p><strong>Name:</strong> ${user.name}</p>
          <p><strong>Age:</strong> ${user.age}</p>
        `;
      } catch (err) {
        output.innerHTML = `<p style="color:red;">Error: ${err.message}</p>`;
      }
    }
    </script>
</html>